.inputFilter {
  border: 1px solid rgba(252, 249, 249, 0.1);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: rgba(252, 249, 249, 0.5);
  border-radius: 15px;
  padding: 14px 16px;
  margin-top: 8px;
  max-width: 508px;
  background-color: transparent;
  transition: border 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inputFilter:hover,
.inputFilter:focus {
  border: 1px solid rgba(252, 249, 249, 0.6);
}