.postDate {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #000;
  opacity: 0.3;
}
.postsList {
  display: flex;
  flex-direction: column;
  gap: 44px;
  height: 856px;
  overflow-y: hidden;
}
.post {
  display: flex;
  gap: 20px;
}
.postDetails {
  width: 225px;
  height: 133px;
}
.postTitle {
  font-weight: 600;
  font-size: 17px;
  letter-spacing: -0.05em;
  color: #000;
  margin-top: 20px;
  margin-bottom: 8px;
}
.postBody {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.05em;
  color: #000;
  opacity: 0.5;
}
