.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 400px;
  padding: 20px;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.errorMessage {
  color: red;
  font-size: 14px;
  font-weight: 600;
}

.btnForm {
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fcf9f9;
  border-radius: 15px;
  padding: 14px 36px;
  max-width: 154px;
  height: 49px;
  color: #fcf9f9;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
  transition: border 350ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.btnForm:hover,
.btnForm:focus,
.btnForm:focus-visible {
  border: 1px solid #ecd979;
}

.inputForm {
  border: 1px solid rgba(252, 249, 249, 0.1);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: rgba(252, 249, 249, 0.5);
  border-radius: 15px;
  padding: 14px 16px;
  max-width: 508px;
  background-color: transparent;
  transition: border 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inputForm:hover,
.inputForm:focus {
  border: 1px solid rgba(252, 249, 249, 0.6);
}