* {
  box-sizing: border-box;
}

body {
  background-image:  url('./assets/Ellipse2.png'), url('./assets/Ellipse3.png');
  background-position: top left, top right;
  background-size: 35%, 30%;
  background-repeat: no-repeat, no-repeat;
  font-family: Inter;
  margin: 0;
  margin-bottom: 130px;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a{
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
